<link rel="stylesheet" href="css/styles.css">
/*
    Author: myles brown
    Date: Current 9-14-25
    File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img {
    max-width: 100%;
    display: block;
}

/* Style rules for header content */
header {
    text-align: center;
    font-size: 3em;
    color: #373684;
}

header h1 {
    font-style: italic;
}

/* Style rules for navigation area */
nav {
    background-color: #373684;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 2em;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #e3e3e3;
    overflow: auto;
}

main p {
    font-size: 1.25em;
}

dl {
    margin-left: 2%;
}

dt {
    font-weight: bold;
    font-size: 1.25em;
}

dd {
    padding: 0.5% 1% 2% 0;
}

article h2 {
    text-align: center;
}

article {
    padding: 2%;
}

article img {
    margin: 0 auto;
}

table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #373684;
}

th, td {
    border: 1px solid #373684;
    padding: 1%;
}

th {
    background-color: #373684;
    color: #fff;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;
}

footer a {
    color: #4645a8;
    text-decoration: none;
}
